<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3c.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>ProgressBar Monitor - ITDynamic renderer </title>
<style type="text/css">
<!--
th {
    font-family: sans-serif;
    font-size: small;
    color: #FFF;
    background-color: #AAA;
}
.maintable {
    border: thin dashed #D0D0D0;
    background-color : #EEE;
}
.progressStatus {
    color: navy;
    font-size:10px;
}
{qf_style}
//-->
</style>
<script type="text/javascript">
<!--
{qf_script}
//-->
</script>
</head>
<body>

<h1>ITDynamic QF renderer</h1>
<p>This example simulate a pictures uploads.<br/>
First image upload at 10%, second at 45%, and third at 70%. (see progressHandler.php)</p>

<form {qf_attributes}>
<!-- BEGIN qf_hidden_block -->
<div style="display: none;">
  <!-- BEGIN qf_hidden_loop -->{qf_hidden}<!-- END qf_hidden_loop -->
</div>
<!-- END qf_hidden_block -->

<table class="maintable" width="600" align="center">
<!-- BEGIN qf_main_loop -->
<tr><td valign="top">
  <table width="100%" cellpadding="4">
  <!-- BEGIN qf_header --><tr><th>{qf_header}</th></tr><!-- END qf_header -->
  <!-- BEGIN qf_element --><tr><td>{qf_element}</td></tr><!-- END qf_element -->
  </table>
</td>
</tr>
<!-- END qf_main_loop -->
</table>

<!-- BEGIN qf_buttons -->
<table width="600" align="center">
<tr>
  <td align="right">
<!-- BEGIN qf_buttons_loop -->
  <!-- BEGIN qf_buttons_element -->{qf_separator}{qf_element}<!-- END qf_buttons_element -->
<!-- END qf_buttons_loop -->
  </td>
</tr>
</table>
<!-- END qf_buttons -->

</form>

<!-- BEGIN qf_errors -->
<!-- BEGIN qf_error_loop -->
{qf_error}<br />
<!-- END qf_error_loop -->
<!-- END qf_errors -->

</body>
</html>